#newPassw{
    display: none;
  }
  #email_field{
    display: none;
  }
  #camVideo, #snap, #canvas {
    display: none;
  }
  #notifications{
    display: none;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #modal-create{
    display: none;
  }